{% load staticfiles %}
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Social Board</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.css" %}' rel="stylesheet">j
    <link href='{% static "css/jquery.tagsinput.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href='{% static "css/jgridly.css" %}'>

    <style type="text/css">
		  .brick.small {
		    width: 140px;
		    height: 140px;
		  }
		  .brick.large {
		    width: 300px;
		    height: 300px;
		  }
    	.green {
    		background: #2ECC71;
    	}
    	.blue {
    		background: #F1C40F;
    	}
    	.red {
    		background: #E74C3C;
    	}
    	.center {
    		text-align: center;
    		margin-right: auto;
    		margin-left: auto;
    	}
    	.brick {
    		font-size: 13px;
    		text-transform: capitalize;
    	}
    </style>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style id="ublock-preload-1ae7a5f130fc79b4fdb8a4272d9426b5">#content > #right > .dose > .dosesingle,
#content > #center > .dose > .dosesingle,
#carbonads-container,
.carbonad
{display:none !important;}</style><style type="text/css"></style></head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SocialBoard</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-10" style="min-height:500px;margin-top:100px">
        	<div id="loader" class="center" style="display:none">
				<img src="{% static "images/loader.gif" %}">
			</div>

          {% block content %}{% endblock %}
        </div><!--/.col-xs-12.col-sm-9-->

        <div style="margin-top:70px" class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar">
        <div>
        	<p>Filter by day</p>
        	<form class="form-inline">
	  			<div class="form-group">
		        	<select id="dias" class="form-control">
		        		<option value="0">All days</option>
		        		<option value="1">1 day</option>
		        		<option value="2">2 days</option>
		        		<option value="3">3 days</option>
		        		<option value="4">4 days</option>
		        		<option value="5">5 days</option>
		        	</select>
        			<button id="filter_days" class="btn btn-info btn-small">Filter</button>
        		</div>
        	</form>
        </div>
       	<p>Filter by tag</p>
          <div class="list-group">
            <a href="#" class="tag list-group-item">music</a>
            <a href="#" class="tag list-group-item">games</a>
            <a href="#" class="tag list-group-item">sports</a>
            <a href="#" class="tag list-group-item">nightlife</a>
            <a href="#" class="tag list-group-item">programming</a>
            <!--<a href="#" class="tag list-group-item">Programming</a>
            <a href="#" class="tag list-group-item">item</a>-->
          </div>

		<button type="button" id="add" class="btn btn-success">Add Post</button>
		<div id="createNote" style="display:none">
			<form method="post" action="/api/save">
				<p>Title: <input type="text" name="title"/></p>
				<p>Content: <input type="text" name="text"/></p>
				<p>Tags: <input type="text" class='' name="tags" id="tags_note"/></p>
				<p><input type="submit" class="btn btn-success" value="Save" /></p>
			</form>
		</div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <!--<hr>-->

      <!--<footer>
        <p>© Company 2014</p>
      </footer>-->

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
	<script type="text/javascript" src='{% static "js/gridly.js" %}'></script>
	<script type="text/javascript" src='{% static "js/jquery.tagsinput.min.js" %}'></script>
    <script src='{% static "js/bootstrap.js" %}'></script>
  	{% block scripts %}
	{% endblock %}

	<script type="text/javascript">
		function ajax_trigger_get(data, url, callback) {
			$("#loader").fadeIn(1);
			var request = $.ajax({
			  url: url,
			  type: "GET",
			  data: data,
			  dataType: "json"
			});
 
			request.done(callback);
			 
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
		}

		function ajax_trigger_post(data, url, callback) {
			$("#loader").fadeIn(1);
			var request = $.ajax({
			  url: url,
			  type: "POST",
			  data: data,
			  dataType: "json"
			});
 
			request.done(callback);
			 
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
		}

		$(document).on("ready", function(event) {
			$('#tags_note').tagsInput({
				'height':'100px',
   				'width':'200px',
   				'defaultText':'',
			});


		function loadNotes(data) {
			if(data.length == 0) {
				$("#grid").append('<div class="center alert alert-warning" role="alert"><b>Be the first to post!</b></div>');
				$("#loader").fadeOut(1);
				return;
			}
			var colors = ['red', 'green', 'blue'];
			var sizes = ['small', 'large'];
			data.forEach(function(d, k, a) {
				var color = colors[Math.floor(Math.random()*colors.length)];
				var size = sizes[Math.floor(Math.random()*sizes.length)];
				var element = '<div class="brick '+color+' '+ size +'"><p class="center"><strong>';
				element += d.title + '</strong></p><hr /><p style="margin-left:10px">'+ d.text +'</p>';
				var tags = '';
				d.tags.forEach(function(t,ke,ar) {
					tags += '<span class="badge">'+t+'</span>  ';
				});
				element += '<div style="position:absolute;bottom:0;right:0">'+tags+'</div>';
				$("#grid").append(element);
			});

			$('.gridly').gridly({
			    base: 60, // px 
			    gutter: 20, // px
			    columns: 12
		  	});
		  	$("#loader").fadeOut(1);
		}

		ajax_trigger_get({}, '/api/get', loadNotes);


		    
    
		$("#add").on("click", function(event) {
			event.preventDefault();
			console.log("por aqui");

			$("#createNote").show(100);

		});

		$("#filter_days").on('click', function(event) {
			event.preventDefault();

			var dias = $("#dias").val();

			$("#grid").html("");
			ajax_trigger_get({days: dias}, '/api/get', loadNotes);
		});

		$(".tag").on('click', function(event) {

			event.preventDefault();
			var tag_s = $(this).text();

			$("#grid").html("");
			ajax_trigger_get({tag: tag_s}, '/api/get', loadNotes);

		});

		/*$("#save_note").on("click", function(event) {
			event.preventDefault();
			console.log("hee");
			var title = $("#title_note").val();
			var content = $("#content_note").val();
			var tags = $("#tags_note").val();

			var tags_array = tags.split(',');

			var data = {
				title: title,
				text: content,
				tags: tags_array
			};

		})*/

		});
	</script>

</body></html>